<html>
<head>
	<meta charset="utf-8"/>
	<meta name="James Beringer" content="Resume Site"/>
	<title>About Me | James Beringer</title>
</head>
<body>
	{% extends "pages/page_template.html" %}
	{% block content %}
	<div class="content_body">
		<h1>About Me</h1>
		<p>
			I graduated from the University of Pittsburgh at Bradford in 2015. I initially went to school with the intention of getting a degree in computer engineering. After two years inn the computer engineering program, I ended up changing my major to something that focused less on the hardware side of computers. I completed with a BS degree in Computer Information Systems & Technology in 2015. 
		</p>
		<p>
			Immediately after graduating I got a job working for WESCO Distribution Inc. in Pittsburgh. I spent two years working the phones and building out automated reports as an eCommerce Help Desk Analyst before an opportunity to work with the web team as an eCommerce Quality Assurance Analyst. I spent a little over a year working as a QA before I decided to make a move to New York.
		</p>
		<p>
			I was offered a position at OnDeck Capital as a Quality Assurance Engineer. I'm currently employed here and I work with an amazing team.
		</p>
	</div>
	{% endblock %}
</body>
</html>