<html>
<head>
	<meta charset="utf-8"/>
	<meta name="James Beringer" content="Resume Site"/>
	<title>Contact Form | James Beringer</title>
	<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
	<script>
	   grecaptcha.ready(function () {
		   grecaptcha.execute('{{ site_key }}', {action: 'validate_captcha'}).then(function (token) {
			   console.info("got token: " + token);
			   document.getElementById('g-recaptcha-response').value = token;
		   });
	   });
   </script>
</head>
<body>
	{% extends "pages/page_template.html" %}
	{% block content %}
	<div class="content_body">
		<h1>Contact Form</h1>
		<p>
			<form class="contact_form" name="contact" action="links_contact_send" method="POST">
				<table>
					<tr>
						<td class="contact_first_row">
							<label for="name">your name:</label>
						</td>
						<td>
							<input type="text" id="name" name="name" placeholder="your name...">
						</td>
					</tr>
					<tr>
						<td class="contact_first_row">
							<label for="email">email address:</label>
						</td>
						<td>
							<input type="email" id="email" name="email" placeholder="your email...">
						</td>
					</tr>
					<tr>
						<td class="contact_first_row">
							<label for="message">your message:</label>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<textarea id="message" name="message" placeholder="write a message..."></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
							<input type="hidden" name="action" value="validate_captcha">
							<input id="send" type="submit" value="send" name="links_contact_send">
						</td>
					</tr>
				</table>
			</form>
			{% with messages = get_flashed_messages() %}
			   {% if messages %}
			      {% for message in messages %}
			         <p class="fade-full {{ message_display_class }}"> {{ message }} </p>
			      {% endfor %}
			   {% endif %}
			{% endwith %}
		</p>
	</div>
	{% endblock %}
</body>
</html>