<html>
<head>
	<meta charset="utf-8"/>
	<meta name="James Beringer" content="Resume Site"/>
	<title>Resume - Tech Experience | James Beringer</title>
</head>
<body>
	{% extends "pages/page_template.html" %}
	{% block content %}
	<div class="content_body">
		<h1>Technical Experience</h1>
		<p>Ever since I&#39;ve been introduced to computers, I&#39;ve been very passionate about computers and with programming. I&#39;ve managed to learn a lot through schooling as well as teaching myself. Below you can find the different technologies I&#39;ve worked with.</p>
		<h2 id="python">Python</h2>
		<p>
			<ul class="page_menu">
				<li>PyTest - Working with PyTest framework for selenium and API automation testing.</li>
				<li>Flask - Several web projects that I&#39;ve worked on have used flask. This site was built using flask.</li>
				<li>Database Integration - Linking and querying aginst severl different DB types, although I have a preference for PostgreSQL</li>
			</ul>
		</p>
		<br>
		<br>
		<h2 id="java">Java</h2>
		<p>
			<ul class="page_menu">
				<li>Tomcat - The first iteration of my personal site was built using tomcat and java.  I ultimately ended up abandoning it in favor of a python back ended build.</li>
				<li>Spam Bot - One small application that I had been working on was a bot to  send marketing emails to a set distribution list. I ended up not using this application as the client decided for an out of the box solution.</li>
			</ul>
		</p>
		<br>
		<br>
		<h2 id="db_mgmt">Database Management</h2>
		<p>
			<ul class="page_menu">
				<li>PostgreSQL - All of the systems used by this site and the peripheral apps around it use PostgreSQL which I manage and run on a VPS.</li>
				<li>MSSQL Server - I used to manage and run an MSSQL instance on a VPS in the past, I&#39;ve since moved to using PostgreSQL for almost all of my apps.</li>
			</ul>
		</p>
		<br>
		<br>
		<h2 id="it_ops">IT Operations</h2>
		<p>
			<ul class="page_menu">
				<li>Ubuntu Server Management - I have several VPS instances that I manage for the different apps I own including this site.</li>
				<li>Flask Application Deployment - There are two separate flask applications that I have running in my stack.  This site is one, and the other is an API only application named CONFIGMAN which handles authentication, configurations, and some functions.</li>
			</ul>
		</p>
	</div>
	<br>
	{% endblock %}
</body>
</html>