<html>
<head>
	<meta charset="utf-8"/>
	<meta name="James Beringer" content="Resume Site"/>
	<title>Resume - Work Experience | James Beringer</title>
</head>
<body>
	{% extends "pages/page_template.html" %}
	{% block content %}
	<div class="content_body">
		<h1>Work Experience</h1>
		<p>I've only worked for three companies in my career, however I've managed to learn a lot. This page is to outline the companies I've worked for with an in depth overview of the work I've done there.</p>
		<h2 id="intern">The Internship - Robinson Fans</h2>
		<p>During the summer prior to my senior year of college, I worked in the IT department mainly helping build out reports and assisting in some minor changes to the ERP system that was used in house. The reports that I would build consisted of power pivot reports that would call SQL queries to build the report. We didn't have a way to refresh these reports with any kind of frequency, so on a VDI, I wrote a PowerShell script that would open the file, re-save it under a new name, then upload to the company SharePoint to be consumed.</p>
		<h2 id="hd">Help Desk - WESCO Distribution</h2>
		<p>When working for WESCO on the help desk, I was able to help other members within the eCommerce team, as well as elsewhere in the organization, by leveraging my existing knowledge of using PowerShell scripts to drive automated reports. I was able to build out those reports and email them out on an as needed basis, by running them on a VDI that would run these scripts when triggered by scheduled task.</p>
		<h2 id="qa_wd">Quality Assurance Analyst - WESCO Distribution</h2>
		<p>After working on the help desk for a while, I was able to use a lot of that knowledge to help build out test cases, identify how the applications were supposed to interact, and was able to assist with, and lead, the testing of a number of different projects. When I was leaving WESCO, we had really started focusing on writing more automation using Ruby and Selenium, which gave me my first taste of automated testing.</p>
		<h2 id="qa_od">Quality Assurance Automation Engineer - OnDeck Capital</h2>
		<p>I made the move to New York after getting an offer from OnDeck. I worked with a lot of existing frameworks to build out automated test cases for several applications and jobs. I worked closely with a number of teams on larger projects, and had an amazing team that I worked with on a day to day basis.</p>
	</div>
	{% endblock %}
</body>
</html>