# This is a basic workflow to help you get started with Actions

name: Deploying release to production

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  release:
    types: [created]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Merge to release branch
        uses: devmasx/merge-branch@v1.3.1
        with:
          type: now
          from_branch: master
          target_branch: release
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run SSH commands on server
        uses: appleboy/ssh-action@v0.1.4
        with:
          debug: true
          host: ${{ secrets.USER_HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT_HOST}}
          fingerprint: ${{ secrets.HOST_FINGERPRINT }}
          script: |
           whoami
           pwd 
           ./resume-site-deployer.sh
#       - name: Final validation
        # TODO Add functionality to hit the validation endpoint to check the git hash


#         uses: JimCronqvist/action-ssh@master
#         with:
#           hosts: ${{ secrets.USER_HOST }}
#           privateKey: ${{ secrets.PRIVATE_KEY }}
#           command: |
#             ls -lah
#             echo "I am $USER"

#     build:
#       # The type of runner that the job will run on
#       runs-on: ubuntu-latest

#       # Steps represent a sequence of tasks that will be executed as part of the job
#       steps:
#         # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
#         - uses: actions/checkout@v2

#         # Runs a single command using the runners shell
#         - name: Run a one-line script
#           run: echo Hello, world!

#         # Runs a set of commands using the runners shell
#         - name: Run a multi-line script
#           run: |
#             echo Add other actions to build,
#             echo test, and deploy your project.
          
     
