# This is a basic workflow to help you get started with Actions

name: Deploying release to production

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  release:
    types: [created]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "deploy"
  # TODO Generate workflow to test the project prior to deploy
  deploy:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Merge to release branch
        uses: devmasx/merge-branch@v1.3.1
        with:
          type: now
          from_branch: master
          target_branch: release
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run SSH commands on server
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT_HOST }}
          script: ./resume-site-deployer.sh -s ${{ secrets.SUDO_PASSWORD }}
#       - name: Final validation
        # TODO Add functionality to hit the validation endpoint to check the git hash

     
