# This is a basic workflow to help you get started with Actions

name: Deploying release to production

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  release:
    types: [created]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # TODO Generate workflow to test the project prior to deploy
 deploy-site:
   runs-on: ubuntu-latest
   steps:
    - name: Set Variables
      id: vars
      run: |
        echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}
        echo ::set-output name=BRANCH::'deploy/py_resume-${GITHUB_REF#refs/tags/}'
    - name: Create Branch
      uses: peterjgrainger/action-create-branch@v2.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        branch: 'release/py_resume-${{ steps.vars.outputs.TAG }}'
    - name: Run SSH commands on server
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT_HOST }}
        script: ./resume-site-deployer.sh -s ${{ secrets.SUDO_PASSWORD }} -b deploy/py_resume-${{ steps.vars.outputs.TAG }}
#       - name: Final validation
        # TODO Add functionality to hit the validation endpoint to check the git hash

     
